---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.muted {
				color: rgb(var(--gray));
			}

			.muted a {
				color: rgb(var(--gray));
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>👋 Hi!</h1>
			<p>I'm Kilian, a software engineer and writer.</p>
			<p>My journey into software and infrastructure engineering started in a physics research lab, where I discovered the merits of loose coupling and adherence to standards the hard way. (It's also the origin of my GitHub handle.)</p>
			<p>I like automated testing, concise documentation, and hunting complex bugs. Over the years, I've worked on projects ranging from FPGA-based ultra-fast measurement systems to cloud architectures.</p>
			<p>These days, I mostly code in Python and spend much of my time on projects in the realm of cloud infrastructure and MLOps.</p>
			<p>This website is the place where I <a href="/blog">write about topics I find interesting</a> and <a href="/projects">document some of my projects</a>.</p>
			<p class="muted">(I also maintain a <a href="https://kluge.ai">professional portfolio website</a> and a <a href="https://pragmaticnotes.hashnode.dev/">public technical notebook</a>.)</p>
		</main>
		<Footer />
	</body>
</html>
